/* Footer Styles */
.footer {
    background-color: var(--clr-bg);
    color: #fff;
    padding: 50px 0;
    border-top: 1px solid #555;
    max-width: 100%;
  }
  
  .footer__top {
    padding-bottom: 30px;
  }
  
  .footer h4 {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .footer p {
    color: #ccc;
    margin-bottom: 1rem;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    color: #fff;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    color: #ccc;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #fff;
  }
  
  .footer__bottom {
    border-top: 1px solid #555;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .footer__bottom p {
    margin: 0;
  }
  
  .footer__bottom .text-right {
    float: right;
  }
  
  .termsetc {
    display: inline;
  }