
.header,
.footer {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 50px;
  box-shadow: -3px -5px 5px rgba(0, 0, 0, 0.3);
}

.main {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3), -3px -5px 5px rgba(0, 0, 0, 0.3);
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 50px;
  gap: 50px;
  overflow: hidden;
}
/*
.main div {
  flex: 1;
  border: 2px solid #999;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 1s ease-in;
  
}
*/
.childOne,
.main div:first-child {
  transform: translateX(-150%);
  opacity: 0;
}
.childTwo,
.main div:last-child {
  transform: translateX(150%);
  opacity: 0;
}

.slide_in {
  transform: translateX(0) !important;
  opacity: 1 !important;
  z-index: 9999 !important;
}
.section {
    margin-top: 10px; /* Default margin-top */
  
    @media (min-width: 768px) {
      margin-top: 20px; /* Adjusted margin-top for medium-sized screens */
    }
  
    @media (min-width: 1024px) {
      margin-top: 30px; /* Adjusted margin-top for large screens */
    }
  }

  /* YourStyles.css */
/* Define the keyframe animations */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animations to the bubbles and make it permanent */
  .founders {
    animation: fadeIn 1s ease-in 1 forwards; /* Apply the animation with infinite iteration */
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px; /* Adjust the gap between bubbles as needed */
    justify-items: center;
    }
  
  .bubble {
    position: relative;
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
    padding: auto;
    margin: 10px; /* Adjust the margin as needed */
    animation: fadeIn 1s ease-in 1 forwards;
}
  

  
  .founderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }