.glow_btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    width: clamp(200px, (25vw + 10px), 350px);
    letter-spacing: 0.05em;
    background-color: var(--clr-prim);
    font-size: var(--size-2xl);
    margin: 0;
    color: var(--clr-bg);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 7px 10px rgba(255, 255, 255, 0.3),
      0 6px 9px rgba(255, 255, 255, 0.197), 0 0 20px -10px var(--clr-prim);
    transition: transform 0.3s, box-shadow 0.3s;
}
 
.tag_button {
    
}
.tag_button:focus {
  
}
.container {
  display: flex;
}

.closeButton {
  color: #0197B2;
  align-self: self-end;
  font-weight: bold;
  font-size: var(--size-2xl);
  cursor: pointer;
  margin-inline-end: -90%;
}
.tag_button {
  display: inline-flex;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.05em;
  background: none;
  font-size: clamp(1rem, 3vw, 2rem);
  color: white;
  padding: 0.5em 1em;
  border-radius: 13px;
  background-color: #0197B2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
