.glow_btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    width: 75%;
    letter-spacing: 0.05em;
    background-color: var(--clr-prim);
    font-size: var(--size-2xl);
    margin: 0;
    color: var(--clr-bg);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3),
      0 6px 6px rgba(255, 255, 255, 0.5), 0 0 20px -10px var(--clr-prim);
    transition: transform 0.3s, box-shadow 0.3s;
}
 
.tag_button {
    display: inline-flex;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    letter-spacing: 0.05em;
    background: none;
    font-size: var(--size-1xl);
    margin: 0;
    color: var(--clr-bg);
    padding: 0.5em 1em;
    border-radius: 3px;
}
.tag_button:focus {
  
}
.container {
  display: flex;
}

