.hero {
  position: relative;
  height: 37rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding: 0.85rem;
  gap: 2em;
  /* margin-bottom: -5em; */

  background-color: rgba(129, 128, 128, 0.1);
  background-image: url('../../src/images/hero_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.hero h1 {
  font-size: var(--size-7xl);
  background-color: rgba(255, 255, 255, 0);
  line-height: 1em;
}

.hero p {
  font-size: var(--size-2xl);
  background-color: rgba(255, 255, 255, 0);
}

.hero__motto {
  font-size: var(--size-md);
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  margin-top: -1.5em;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 475px) {}

/* Small devices */
@media only screen and (max-width: 639px) {}

/* Medium devices */
@media only screen and (max-width: 767px) {}

/* Large devices */
@media only screen and (max-width: 1023px) {}

/* Extra large devices */
@media only screen and (max-width: 1279px) {
  .hero h1 {
    font-size: var(--size-5xl);
  }
}

/* 2XL devices */
@media only screen and (max-width: 1535px) {}

/* Full HD devices */
@media only screen and (max-width: 1919px) {}

/* 2K devices */
@media only screen and (max-width: 2559px) {}