

.input[type="email"],.input[type="password"],.input[type="text"],.input[type="number"]
{
    margin-bottom: 20px;
    border: 2px solid #a29898;
    border-radius: 17px;
    padding: 15px;
    width: clamp(250px, 100%, 400px);
    text-align: left;
    transition: border-color 0.3s cubic-bezier(0.58,-0.25, 0.58, 1);
    border: #58585858 2px solid;
    background: rgba(0, 0, 0, 0);
    color: white

}

.input[type="email"]:focus,.input[type="password"]:focus,.input[type="text"]:focus,.input[type="number"]:focus
{
    border-color: var(--clr-blue);
    outline: none;
}
.input[type="email"]:hover,.input[type="password"]:hover,.input[type="text"]:hover,.input[type="number"]:hover
{   
  background: rgba(255, 255, 255, 0.03);
    outline: none;
}


/* Style for the spin buttons */
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    width: clamp(10px, 2.5vw, 20px);
    height: 100%;
    font-size: clamp(10px, 2vw, 14px);

    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    background: none;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

/* Hover effect for the spin buttons */
input[type=number]:hover::-webkit-outer-spin-button,
input[type=number]:hover::-webkit-inner-spin-button {
    background-color: #4285f4;
}

.link {
    font-size: clamp(12px, 2vw, 16px);

    background-color: transparent;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.3s;
}
.hover:hover{
  text-decoration: underline;
}
.container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* Update your existing styles */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Increased gap for more spacing between elements */
    
    padding: 30px; /* Increased padding for a larger box */
    text-align: center;
    width: max-content;
    height: 750px;
    margin-top: calc(50vh - 375px);
    margin-inline: auto;
    border-radius: 10px;
    background-color: #0f0f0f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  

.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em; /* Increased gap for more spacing between elements */
    background-color: #1a1a1a; /* Adjusted background color to match the theme */
    border-radius: 20px;
    padding: 2em; /* Increased padding for a larger box */
    text-align: justify;
    box-sizing: content-box;
    border: #58585858 2px solid;
    box-shadow: 2px 2px 5px rgba(93, 93, 93, 0.209);

    
}
.box {
    background: none;
}

.label {
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    white-space: nowrap;
    font-size: clamp(16px, 2vw, 24px);

}

i {
    background: none;
}

.captcha_container {
    margin-top: 20px;
    background: none;
}
.iframe {
    background: none;
}

div {
    background: none;
}


/* login.module.css */

/* login.module.css */
/* Styling for the overlay */
/* Styling for the overlay */
/* login.module.css */

/* Styling for the overlay */
/* login.module.css */

.overlay-container {
    position: fixed;

    width: 100%;
    height: 100%;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */

  }
  
  .overlay {
    position: relative;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: visibility 0s, opacity 0.5s ease;
    cursor: pointer;

  }
  

  
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 2000;
    transition: display 0.5s ease;
    backdrop-filter: blur(15px);
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(13,138,163,1) 100%);


  }
  
  .show {
    display: flex;
    z-index: 2000;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease;
    cursor: pointer;
    pointer-events: auto; /* Enable pointer events when the modal is visible */
  }

  .x {
   position: absolute;
   align-self: end;
   cursor: pointer;
   top: 20px;
   right: 20px;
   font-weight: 400;
  }


  @media only screen and (max-width: 479px) {
    .input[type="email"],
    .input[type="password"],
    .input[type="text"],
    .input[type="number"] {
      width: 100%;
    }
  
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      width: 100%;
      font-size: clamp(10px, 4vw, 14px);
    }
  
    .link {
      font-size: clamp(12px, 4vw, 16px);
      text-decoration: none;
    }
    .link:hover{
      text-decoration: underline;
    }
  
    .form {
      padding: 15px;

      max-width: 100%;
      margin-top: clamp(15em, 30%, 20em);
    }
  
    .label {
      gap: 5px;
      font-size: clamp(14px, 4vw, 20px);
    }
}