/* productDetail.css */

.product_detail_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 15%;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
    justify-content: flex-start;
    margin-left: 5em;
}
  
  .product_image_container {
    flex: 1;
    margin-right: 0;
    margin-left: 0;
    
}
  
  .product_image {
    width: 30vh;
    height: 30vh;
    margin-top: 20%;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
  }
  
  .product_details {
    flex: 1;
  }
  
  
  .title {
    font-size: var(--size-4xl);
    margin-bottom: 10px;
  }
  
  .author {
    font-size: var(--size-4xl);
    margin-bottom: 10px;
  }
  
  .price {
    font-size: var(--size-4xl);
    margin-bottom: 10px;
  }
  
  .description {
    font-size: var(--size-4xl);
    margin-bottom: 20px;
  }
  
  .buy_button {
    padding: 10px 20px;
    font-size: var(--size-4xl);
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buy_button:hover {
    background-color: #0056b3;
  }
  
  .category {
    font-size: var(--size-4xl);
    margin-bottom: 10px;
  }
  
  .bodyXL {
    font-size: var(--size-3xl);
    margin-bottom: 10px;
  }
  
  .bodyL {
    font-size: var(--size-2xl);
    margin-bottom: 10px;
  }
  
  .bodyM {
    font-size: var(--size-1xl);
    margin-bottom: 10px;
  }
  
  .bodyS {
    font-size: var(--size-lm);
    margin-bottom: 10px;
  }

  .product_detail_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Increased gap for more spacing between elements */
    margin-top: 2px; /* Increased margin at the top to make it longer */
    margin-bottom: 400px;
    background-color: #1a1a1a; /* Adjusted background color to match the theme */
    border-radius: 20px;
    padding: 30px; /* Increased padding for a larger box */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Darker box-shadow with alpha value 0.8 */
    height: 900px;
    width: 650px;
    text-align: center;
    box-sizing: content-box;
    border: #58585858 2px solid;
    box-shadow: 2px 2px 5px rgba(93, 93, 93, 0.209);

  }