.container {
    align-items: center;
}

.products {

}

.category {

}

.cat_Container  {

}

.single_product {

}

.product_image {

}

.art {
    margin-top: 50px;
}

p {
    margin-top: 150px;
    font-size: var(--size-2xl);
}

.formContainer {
    margin-top: 50px;
}