h1 {
    font-size: var(--size-4xl);
    font-weight: 600;
    margin: 0;
    align-content: center;
    text-align: center;
    margin-top: 20%;
    background: none;
}
p {
    font-size: var(--size-lg);
    margin: 0;
    text-align: center;
    align-content: center;
    background-color: transparent;
    background: none;

}

.a_p {
    font-size: var(--size-lg);
    margin: 0;
    text-align: center;
    align-content: center;
    background-color: transparent;
    letter-spacing: 0.1em;

}


.label {
    font-size: var(--size-xl);
    font-weight: 600;
    margin: 0;
    align-content: center;
    text-align: center;
}
.error {
    margin-top: 10px;
    color: rgb(247, 35, 49); /* Brighter red color for better visibility */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), /* Adjusted shadow for better visibility */
                 0 2px 2px rgba(255, 255, 255, 0.1); /* Highlighting with a lighter shadow */
    font-size: var(--size-lg);
    margin: 0;
    text-align: center;
    font-weight: 1000;
    align-content: center;
    background: none; /* Adding a semi-transparent white background for contrast */
    /* Add any additional styles specific to the error messages */
    /* Add other styles as needed */
}



.a_h1 {
    font-size: var(--size-4xl);
    font-weight: 700;
    align-content: center;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #e3e9ef; /* Adjust the color to your preference */
    text-shadow: 2px 2px 2px rgba(88, 88, 88, 0.9); /* Add a subtle text shadow for depth */
    letter-spacing: 3px; /* Increase letter spacing for emphasis */
    background: none;
    }
