/* WhySection.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tabs {
    display: flex;
    flex-wrap: no wrap; /* Allow buttons to wrap to the next line on smaller screens */
    width: 100%; /* Ensure tabs take full width */
  }
  
  .tabs button {
    flex: 1; /* Each button takes an equal portion of the available space */
    background-color: transparent;
    border: none;
    padding: 2% 4%;
    cursor: pointer;
    font-size: clamp(0.8em, 3vw, 1.2em);
    color: white;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .tabs button:hover {
    transform: scale(1.01); 
    background-color: #008ba357;
    color: white;
  }

  
  .tabs button.active {
    background-color: #008ba3;
    color: white;
  }
  
  .divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .content {
    text-align: center;
    opacity: 1; /* Show content */
    transition: opacity 0.5s ease; /* Add transition for smooth opacity change */
  }
  
  .content p {
    font-size: clamp(0.8em, 3vw, 1.125em);
    ; /* Adjust paragraph font size with relative units */
    line-height: clamp(1em, 3vw, 1.5em);
    text-align: center;
    opacity: 1; /* Show content */
    transition: opacity 0.5s ease; /* Add transition for smooth opacity change */
  }
  
  /* WhySection.module.css */

/* WhySection.module.css */

    .textWithImageContainer {
      position: relative; /* Set container to relative positioning */
      display: inline-block; /* Ensure container only takes up space necessary */
    }

    .image {
      width: 90%;
 
    }

    .textOverlay {
      position: absolute; /* Position text absolutely within the container */
      top: 50%; /* Place text in the middle vertically */
      left: 50%; /* Place text in the middle horizontally */
      transform: translate(-50%, -50%); /* Center text */
      color: white; /* Set text color */
      text-align: center; /* Center-align text */
      width: 90%; /* Adjust width of text container */
      font-size: clamp(0.5rem, 3vw, 3rem);
      font-weight: bold;
      padding: 0.5em;
      background-color: rgba(0, 0, 0, 0.3); /* Add semi-transparent black background */
      border-radius: 10px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .title {
      font-size: clamp(1.5rem, 3vw, 3rem);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      color: white;
    }
  

    /* why.module.css */

.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
  display: none;
}
.tabs {
  display: flex;
  flex-wrap: nowrap; /* Allow buttons to wrap to the next line on smaller screens */
  width: 90%; /* Ensure tabs take full width */
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.tab:checked + .tab__content {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: white;
  flex-grow: 3;
  text-align: center;
  background-color: #58585858 ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  box-sizing: border-box;
  padding: 0.3em;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.tab + label:hover {
  background-color: #343434;
  box-shadow: 0 1px 0 #f4f4f4 inset;

}

.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
